.container {
  color: white;
  background: #252b42;
  margin-top: 0px;
  width: 100vw;
  height: 100%;
}

.section {
  padding: 5em 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.section > .topic {
  width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  text-align: center;
}

.topic h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}

.section > .reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.reasons > .Rcard {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  flex: 0 1 18em;
  min-height: 12em;
  background: white;
  cursor: pointer;
}

.reasons > .Rcard > .up {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #252b42;
  gap: 1em;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

.Rcard > .up > .image {
  width: 2.5em;
}

.Rcard > .down {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

#video {
  padding: 0em;
}

.section > .underlay {
  margin-top:10em;
  position: relative;
  width: 100%;
  height: 20em;
  background: var(--secondary-color-2, rgba(22, 105, 122,0.5));
}

