.container {
  color: white;
  background: #252b42;
  margin-top: 0px;
  width: 100vw;
  height: 100%;
}

.section {
  padding: 5em 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.section > .topic {
  max-width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  text-align: center;
}

.topic h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}

.section > .reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.reasons > .Rcard {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  flex: 1 1 18em;
  min-height: 12em;
  background: white;
  cursor: pointer;
}

.reasons > .Rcard > .up {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #252b42;
  gap: 1em;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

.Rcard > .up > .image {
  width: 2.5em;
}

.Rcard > .down {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

#review {
  min-height: 10em;
}

#topic {
  max-width: 35em;
}

#video {
  padding: 0em;
}

#star {
  width: 7em;
}

.Rcard > .prof {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.prof > .pImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof > .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.prof > .detail > .name {
  color: #ffa62b;
}

.prof > .detail > .role {
  color: #252b42;
}

.section > .underlay {
  margin-top: 10em;
  position: relative;
  width: 100%;
  height: 20em;
  background: var(--secondary-color-2, rgba(22, 105, 122, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

.underlay > .videobg {
  position: absolute;
  top: -8em;
  width: 63%;
  height: 25em;
  background-image: url("../../assets/tabling.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.underlay > .videobg > .vidCont {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 14.58%,
    rgba(56, 56, 56, 0.84) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.vidCont > .playCont {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: var(--secondary-color-1, #00a0c1);
}

.team {
  display: flex;
  flex-direction: column;
  flex: 0 1 18em;
  min-height: 12em;
  background: white;
  cursor: pointer;
}

.team > .image {
  width: 100%;
  height: auto;
}

.team > .base {
  display: flex;
  width: 100%;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team > .base > .tlt {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.team > .base > .name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  color: #252b42;
}

.team > .base > .handles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 0.5em;
}

@media screen and (max-width: 650px) {
  .section {
    padding: 5em 8%;    
  }

  .section > .topic {
    font-size: 16px;
    font-weight: 400;
  }

  .topic h1 {
    font-size: 35px;
  }

  #video {
    padding: 0em 5%;
  }

  #topic {
    display: flex;
    flex-direction: column;
    gap:1em;
  }

  #topic h1{
    font-size: 30px;
    line-height: 45px;
  }
}
