.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header > .brandName {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header > .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.header > .navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.header > .navbar .searchCart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar ul li {
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ffa62b;
}

@media screen and (max-width: 650px) {
  .header > .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header > .navbar {
    flex-direction: column;
    gap: 1em;
  }

  .header > .navbar ul {
    flex-direction: column;
    gap: 1em;
  }

  .header > .navbar .searchCart {
    flex-direction: column;
    gap: 1em;
  }

  .mobileNavbar {
    position: fixed;
    margin: 1em;
    background: #252b42;
    border: 2px solid black;
    top: 0;
    width: 90vw;
    height: 25em;
    border-radius: 1em;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.5em;
    transition: .5s;
  }

  .mobileNavbar .close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    cursor: pointer;
  }

  .mobileNavbar > .close > .brandName {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  .mobileNavbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
  }

  .mobileNavbar .searchCart {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 2em;
  }

  .mobileNavbar ul li {
    cursor: pointer;
  }

  .mobileNavbar ul li:hover {
    color: #ffa62b;
  }
}
